:root {
  --primary-text-color: #2E2F42;
  --title-text-color: #434455;
  --accent-color: #4D5AE5;
  --primary-bgc-color: #f5f5f5;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-filter-button: #f5f4fa;
  --bacground-team: #f5f4fa;
  --bacground-footer: #2f303a;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --border-card: #eeeeee;
}
background: linear-gradient(0deg, #E7E9FC, #E7E9FC),
linear-gradient(0deg, #FFFFFF, #FFFFFF);

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Header */

.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web-logo {
  color: var(--accent-color);
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .studio,
.site-nav .portfolio {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.adress-header .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.adress-header .link:hover,
.adress-header .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--bacground-footer);
}

.hero,
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  font-family: inherit;
}

.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--background-filter-button);
  border: 1px solid transparent;
  border-radius: 4px;
}

.button-filter:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button-filter:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button-filter:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Benefits */
.benefits,
.solution-list {
}

.invisible-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ben-title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.ben-text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.our-team {
}

.our-team .list-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.second-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.pre-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.descript {
  color: var(--title-text-color);
}

.team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.card {
  background-color: var(--white-color);
  border: 1px solid var(--border-card);
}

.product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.footer {
  background-color: var(--bacground-footer);
}

.logo-footer {
  color: var(--white-color);
}

.adress-link {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.tel,
.mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-footer-color);
}
